.content-layout .header-input {
	background: white;
	padding-inline: 0;
	
}

.content-layout {
	background-color: white;
	min-height: 100vh;
	max-width: 1440px;
	margin:  0 auto;
	padding: 0 1.5em;

}

.movie-app {
	background-color: rgb(250, 249, 249, .5);
}